<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-4 offset-sm-2 offset-md-4">
      <h2>Registration</h2>

      <%= simple_form_for @user, url: users_registrations_path do |f| %>
        <%= f.input :email %>
        <%= f.input :username %>
        <%= f.submit "Create account", class: "btn btn-primary" %>
      <% end %>

      <%= link_to "Sign in", new_users_session_path, class: "btn btn-secondary mt-2" %>
    </div>
  </div>
</div>
